/* 360 x 640  base */

/* Reset CSS */
:root {
    --light: #fff;
    --dark: #121212;
    --forelight: #eee;
    --foredark: #222;
    --icon: #c4c4c4;
    --toggle: invert(0%);
    --share: invert(100%);
    --foreground: var(--foredark);
    --background: var(--light);
    --startcolor: var(--forelight);
    --togglebtn: var(--toggle);
}

.darkmode {
    --light: #fff;
    --dark: #121212;
    --forelight: #eee;
    --foredark: #222;
    --icon: #eee;
    --toggle: invert(95%);
    --share: invert(0%);
    --foreground: var(--forelight);
    --background: var(--dark);
    --startcolor: var(--foredark);
    --togglebtn: var(--toggle);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1em;
    background-color: var(--background);
    color: var(--foreground);
}

a {
    color: #888;
    text-decoration: none;
}

/* wrapper */
.wrapper {
    height: 100%;
	position: relative;
	max-width: 100%;
	min-width: 340px;
}

/* Header */
#header {
    height: 26.2%;
}

#header .upper {
    padding: 24px 24px;
    display: flex;
    justify-content: flex-end;
    height: 24px;
}

#header .upper .dark {
    width: 24px;
    height: 24px;
    cursor: pointer;
    filter: var(--togglebtn);
}

/* Section */
section {
    height: 68.3%;
}

h1 {
    margin-top: 0;
    margin-bottom: 78px;
    font-family: 'Comfortaa';
    font-size: 2.250em;
    text-align: center;
}

.btn {
    text-align: center;
    padding-bottom: 64px;
}

.start {
    height: 61px;
    width: 305px;
    border: none;
    border-radius: 30.5px;
    background-color: var(--foreground);
    font-size: 1.500em;
    font-family: 'Nanum Gothic';
    font-weight: bold;
    letter-spacing: .3rem;
    color: var(--startcolor);
    cursor: pointer;
}

.start:hover {
    opacity: 0.7;
    transform: translateY(-3px);
}

.link {
    font-size: 0.750em;
    height: 14px;
    color: #c4c4c4;
    text-align: center;
}

.round {
    display: flex; /* 아이콘 4개 정렬 */
    justify-content: space-between;
    height: 36px;
    width: 220px;
    margin: 0 auto; /* 중앙 정렬 */
    padding-top: 11px;
}

.fa {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    background: var(--icon);
}

.fa:hover {
    opacity: 0.7;
}

.twitter,
.talk,
.facebook,
.links {
    margin-top: 6px;
    width: 24px;
    height: 24px;
    filter: var(--share);
}

/* Footer */
footer {
    text-align: center;
    font-size: 0.750em;
    font-family: 'Roboto';
}

/* Desktop */
@media only screen and (min-width: 700px) {
    #header {
        height: 32%;
    }

    section {
        height: 62.5%;
    }
}